*{
    box-sizing: border-box;
}
.cont{
    width: 100%;
    margin-top: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cont ul{
    display: inline;
}
ul li {
    display: block;
}